{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>GreenHouse Dashboard</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



</head>

<body class="bg-light bg-gradient">
    <div class="container-fluid">
        <center class="row">
            <div class="fs-1 text-secondary fw-bold text-center"><h1>Welcome to GreenHouse Dashboard</h1></div>
        </center>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <canvas id="myChartline"></canvas>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    Fan Button
                </div>
                <div class="col-md-3">
                    <label class="switch" id="Fan">
                        <input type="checkbox" id="FanButton" onclick="fan_button_clicked()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-md-3">
                    AC Button
                </div>
                <div class="col-md-3">
                    <label class="switch" id="AC">
                        <input type="checkbox" id="ACButton" onclick="AC_button_clicked()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <script>
        var endpoint = 'chart/';
        var chartdata;

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                chartdata = data;
                drawLineGraph(data, 'myChartline');
                console.log("drawing");
            },
            error: function (error_data) {
                console.log("can't draw");
                console.log(error_data);
            }
        })

        function drawLineGraph(response_data, id) {
            var XAxes_labels = response_data.data.labels;
            var temperature_data = response_data.data.datasets.data.Temperature;
            var humidity_data = response_data.data.datasets.data.Humidity;
            var backgroundColor = response_data.data.datasets.backgroundColor;
            var borderColor = response_data.data.datasets.borderColor;
            var label = response_data.data.datasets.label;

            document.getElementById("FanButton").checked = response_data.controllers.Fan;
            document.getElementById("ACButton").checked = response_data.controllers.AC;

            console.log('data');
            // console.log(XAxes_labels);
            console.log(response_data);

            var ctx = document.getElementById(id).getContext('2d');
            var chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: XAxes_labels,
                    datasets: [{
                        label: 'Temperature',
                        backgroundColor: 'red',
                        borderColor: 'red',
                        data: temperature_data,
                        fill: false,
                        // spanGaps: true
                    },
                    {
                        label: 'Humidity',
                        backgroundColor: backgroundColor,
                        borderColor: borderColor,
                        data: humidity_data,
                        fill: false,
                        // spanGaps: true
                    }
                    ]
                },

                // Configuration options go here
                options: {
                    scales: {
                        xAxes: [{
                            display: true,
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }

            });
        }

        function fan_button_clicked() {
            document.getElementById("FanButton").checked = document.getElementById("FanButton").checked == true ? 1 : 0;
            console.log(document.getElementById("FanButton").checked);
            var fan_status = document.getElementById("FanButton").checked == true ? "1" : "0";
            $.ajax({
                method: "GET",
                url: 'controller/',
                data: "Fan=" + fan_status,
                success: function (data) {
                    console.log("Updated");
                },
                error: function (error_data) {
                    console.log("can't update");
                    console.log(error_data);
                }
            })
        }

        function AC_button_clicked() {
            document.getElementById("ACButton").checked = document.getElementById("ACButton").checked == true ? 1 : 0;
            console.log(document.getElementById("ACButton").checked);
            var fan_status = document.getElementById("ACButton").checked == true ? "1" : "0";
            $.ajax({
                method: "GET",
                url: 'controller/',
                data: "AC=" + fan_status,
                success: function (data) {
                    console.log("Updated");
                },
                error: function (error_data) {
                    console.log("can't update");
                    console.log(error_data);
                }
            })
        }

        var wsStart = 'ws://'
        var endpoint = wsStart + window.location.host + "ws/"
        let socket = new WebSocket(endpoint);

        socket.onopen = function (e) {
            console.log("[open] Connection established");
        }

        socket.onmessage = function (event) {
            var recieved_data = JSON.parse(event.data);
            console.log(`[message] Data received from server: ${recieved_data}`);
            chartdata.data.labels.push(recieved_data.date);
            chartdata.data.datasets.data.Temperature.push(recieved_data.Temperature);
            chartdata.data.datasets.data.Humidity.push(recieved_data.Humidity);
            drawLineGraph(chartdata, 'myChartline');

        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
            } else {
                // e.g. server process killed or network down
                // event.code is usually 1006 in this case
                console.log('[close] Connection died');
            }
        };

        socket.onerror = function (error) {
            console.log(`[error] ${error.message}`);
        };
    </script>
</body>

</html>